@font-face {
	font-family: "Naver newtalk Icons";
	src: url('../fonts/Naver-newtalk-Icons.eot?555400424');
	src: url('../fonts/Naver-newtalk-Icons.eot?555400424#iefix') format('eot'),
		url('../fonts/Naver-newtalk-Icons.woff2?555400424') format('woff2'),
		url('../fonts/Naver-newtalk-Icons.woff?555400424') format('woff'),
		url('../fonts/Naver-newtalk-Icons.ttf?555400424') format('truetype'),
		url('../fonts/Naver-newtalk-Icons.svg?555400424#Naver newtalk Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fn-newtalk {
	display: inline-block;
	height: 1em;
	line-height: 1em;

	/* 속성 추가 */
	vertical-align: top;
}
.fn-newtalk:before {
	font-family: "Naver newtalk Icons";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* 속성 추가 */
	vertical-align: top;
}

.fn-newtalk.fn-18 { font-size: 18px; }
.fn-newtalk.fn-24 { font-size: 24px; }
.fn-newtalk.fn-36 { font-size: 36px; }
.fn-newtalk.fn-48 { font-size: 48px; }

.fn-newtalk-alontalk:before { content: "\EA01" }
.fn-newtalk-angle:before { content: "\EA02" }
.fn-newtalk-block:before { content: "\EA03" }
.fn-newtalk-calendar:before { content: "\EA04" }
.fn-newtalk-calgood:before { content: "\EA05" }
.fn-newtalk-caution:before { content: "\EA06" }
.fn-newtalk-chat_block:before { content: "\EA07" }
.fn-newtalk-chat_complete:before { content: "\EA08" }
.fn-newtalk-chat_holding:before { content: "\EA09" }
.fn-newtalk-chat_newlayer:before { content: "\EA0A" }
.fn-newtalk-chatbot:before { content: "\EA0B" }
.fn-newtalk-option:before { content: "\EA0C" }
.fn-newtalk-out:before { content: "\EA0D" }
.fn-newtalk-reservation:before { content: "\EA0E" }
.fn-newtalk-review:before { content: "\EA0F" }
.fn-newtalk-slim-caution:before { content: "\EA10" }
.fn-newtalk-talking:before { content: "\EA11" }
.fn-newtalk-waiting:before { content: "\EA12" }